// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

h58
{
	font-family: 'Bad Script', cursive;
}
.jumbotron-ssg
{
	background-image: asset-url('BME1.jpg');
	background-position: center;
}
.jumbotron-comp
{
	background-image: url('com.jpg');
	background-position: center;
}
.header-bg
{
	width:100%;height:475px;background-image: url('1.jpg');background-size:cover;
}