// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

h58
{
	font-family: 'Bad Script', cursive;
}
.jumbotron-ssg
{
	background-image: url('public/images/BME1.jpg');
	background-position: center;
}
.jumbotron-ssf
{
	background-image: url('public/images/com.jpg');
	background-position: center;
}